:root {
  --black: rgb(45, 45, 45);
  --black2: rgb(55, 55, 55);
  --gray: rgb(65, 65, 65);
  --gray2: rgb(70, 70, 70);
  --feltGreen: rgb(56, 189, 56);
  --feltGreen2: rgb(23, 104, 23);
  --feltGreen3: rgb(21, 75, 21);
  --cornFlower2: rgb(109, 151, 230);
  --gold: rgb(212, 216, 152);
  --gold2: rgb(183, 165, 0);
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--black);
}

/* ======= LANDING PAGE ========= */
/* ======= LANDING PAGE ========= */

.landing-page {
  margin:2rem;
  background-color: var(--black2);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding:1rem;
}

.page-title {
  font-size:50px;
  
  background: -webkit-linear-gradient(var(--gold), var(--gold2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page input {
  padding-left:0.5em;
  max-width: 2rem;
  padding-right:0;
}

#starting-money-input {
  min-width: 3rem;
}

.landing-page p {
  text-align: center;
}

.get-players, .min-bet, .max-bet, .starting-money, .start-game, .blind-values, .review-game, .game-values {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;

  background:-webkit-linear-gradient( var(--black), var(--gray2));
  color:var(--gold);
  font-size:larger;

}

.get-bet-values p {
  color: var(--gold2);
  font-size:xx-large;
}

.blind-values {
  margin-bottom:1rem;
}

.load-game {
  display:flex;
  justify-content: center;
  margin-top:2rem;
}


/* ======= Game PAGE ========= */
/* ======= Game PAGE ========= */

.wrapper {
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--black2);
}

.top-bar {
  font-size:x-large;
  padding-top:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--cornFlower2);
  background-color: rgba(0, 0, 0, 0.411);
}

.top-bar-game-end {
  display:flex;
  flex-wrap: wrap;
  padding-left:1rem;
  color:var(--cornFlower2);
  background-color: rgba(0, 0, 0, 0.611);
}


.player-hand-game-end {
  display:flex;
  background: -webkit-linear-gradient(var(--feltGreen2), var(--feltGreen3));
  
  border-radius: 2em;
  border:5px groove var(--black2);
  border-top: none;

  padding:2em;

}

.bottom-bar {
  display:flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  border:6px black double;
  flex-wrap:wrap;
  gap:1em;
}

.bet-raiser {
  padding:0;
  margin:0.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--cornFlower2);
  border-radius: 1em;
  width:50%;
  background-color: rgba(40, 74, 136, 0.137);
}

.buttons {
  display:flex;
  gap:2rem;
  padding-bottom:1rem;
}

button {
  width:6rem;
  height:2rem;
  font-size: 0.7em;
  background-color: var(--black2);
  color:cornflowerblue;
  transition: 300ms;
}

button:hover {
  background-color:var(--black);
}

input {
  background-color: var(--black);
  color:var(--gold2);
  width:4rem;
}

/* ======= End general ========= */

.ante-button {
  margin-right:2rem;
  border-top: 4px var(--gold2) groove;
}

.draw-hand {
  border-bottom: 4px var(--gold2) groove;
  margin-right:2rem;
}

.betting-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px var(--gold2) groove;
}

.raise-button {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap:wrap;

}

.raise-button {
  margin-right:2rem;
}

.raise-button input {
  opacity:15%;
  transition: 400ms;
  height:1.5rem;
}

.raise-button input:hover {
  opacity:100%;
}

.end-turn {
  margin-left: 2rem;
  border-bottom: 4px var(--gold2) groove;
}

/* ======= End buttons ========= */

.information-bar {
  margin-top:2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  max-height:10rem;
  overflow-clip-margin:calc(0px);
  overflow:hidden;
}

.information {
  border: 4px var(--gray) groove;
  padding:2rem;
  width:50%;
  max-height:100%;

  display:flex;
  flex-direction: column-reverse;
  
  justify-content: center;
  align-items: center;

  background: -webkit-linear-gradient(var(--black2), var(--feltGreen2));
}

.info {
  margin: 0.2rem;
  padding:0.2rem;
  background-color: rgba(30, 1, 161, 0.342);
  color:var(--cornFlower2)

}

/* ======= End information ========= */

.player-stats {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1em;
  background-color:rgba(97, 137, 212, 0.068);
  border-radius: 1em;
  width:fit-content;
  margin:1em;
  padding:1em;
}

.game-board {
  background: -webkit-linear-gradient(var(--black2), var(--feltGreen), var(--feltGreen2));
  justify-content: center;
  align-items: center;

  padding-top:5em;
  border-top:5px groove var(--black2);
  border-bottom: none;
  border-top-left-radius: 2em;
  border-top-right-radius: 2rem;
}

.player-hand {
  background: -webkit-linear-gradient(var(--feltGreen2), var(--black2));
  margin-bottom: 2rem;
  
  border-bottom:5px groove var(--black2);
  border-top: none;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2rem;

  padding-bottom:2em;

}

.player-hand::before {
  content: 'Your hand:';
  position:relative;
  left:4.5em;
  bottom:1.5em;
  color:cornflowerblue;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 1em;
  opacity:0%;
  transition: 600ms;
}

.player-hand:hover::before {
  opacity:100%;
}

.game-board::before {
  content: 'Game board:';
  position:relative;
  left:5.3em;
  bottom:7rem;
  color:cornflowerblue;
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 1em;
  opacity:0%;
  transition: 600ms;
}

.game-board:hover::before {
  opacity:100%;
}

.player-hand, .game-board {
  display:flex;
}

.player-card-img {
  max-width: 10vh;
}
.board-card-img {
  max-width: 15vh;
  margin:1em;
}

.player-card, .board-card {
  width: fit-content;
}

.chip-container {
  margin-left:5rem;
  max-width: 20rem;

  display:grid;
  grid-template-columns:repeat(4, 1fr)
}

.chip {
  width:2rem;
}
.chip img {
  width:100%;
}





/* ======= End game board ========= */

.who-won {
  display:flex;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  color:var(--gold2);
}

.who-won select {
  max-height: 2em;
  font-size:inherit;
  margin-right:1em;
}