<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="icon" type="image/x-icon" href="/images/cloudy-sky.jpg"
    <!-- link my stylesheet-->
    <link href="/stylesheets/myStyle.css" rel="stylesheet">

    <!-- link the npm installed bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<!-- body -->
<body class="bg-dark">

    <%- include('partials/header') %>


    <!-- check if the bible is to be requested from the api-->
    <% if (locals.books) { %>
        <script> let apiBooks = <%- JSON.stringify(locals.books) %></script>
    <% } %>

    <!-- Page content-->
    <div class="container text-light">
        <h1 class="mt-2 text-center border-bottom-only border-hover"> Read from the bible by pressing search and then choosing your book!</h1>
        <br>
        <p>God's word is unchanging and forever true. There are some versions of the bible 
            that are written without the truth present. However there are many studies that 
            will prove and give credential to the authenticity of each translation!
            Rest assured that the bible <i>is and will remain true.</i>
        </p>
       
    </div>

    <div class="container d-flex justify-content-center">
        <a class='btn btn-primary mx-0 my-3 w-50' href="/bible/king-james">Search King James!</a>
        <a class='btn btn-primary mx-0 my-3 w-50' href="/bible/world-messianic">Search World Messianic!</a>
    </div>

    <!-- verse of the day-->
    <div class="container bg-gray bg-gradient text-center">
        <p id="votd" class="text-white">
            Verse of the day: <br>
            <% if (locals.votd) { %> 
                <%= locals.votd %>

            <% } else { %>
                 
                The fruits of the spirit are virtues even to non-believers.
            <%} %>
        </p>
    </div>

    <!-- display everything from the bible api-->
    <div id='bible-area' class="bg-dark d-flex justify-content-center">
       
        <!-- Books of the bible-->
        <div class="container mx-0 mt-2 w-100 d-grid gap-2 justify-content-evenly bg-secondary" id="bookList">
            
        </div>
    </div>
    
    
    <!-- use the bootstrap script installed by npm-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- include my script-->
    <script src="/scripts/bible.js"></script>
</body>

</html>