body {
  background-color: darkgrey;
}

.bg-gray {
  background-color: rgb(43, 43, 49);
}

.loginSignupButton {
  position: relative;
  margin-left: 0;
  left: 42%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}
