<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing BootSTRAP</title>

    <!--include bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- include my scripts-->
    <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body class="bg-gray a">

    <nav class="m-3 bg-dark bg-gradient" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" area-current="page"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Random</li>
        </ol>
    </nav>

    <div class="container pt-2">
        
        <!-- go-to chatroom button and header-->
        <h1 class="pt-2 c">Hello welcome!</h1>
        <a href="/chat" class="btn btn-primary px-4">Press this button to enter the chat room!?</a>

        <!-- grid with 3 columns-->
        <div class="container my-lg-5 my-3"> 
            <div class="row">
                <div class="col-sm text-bg-primary bg-dark border-1 border-light bg-gradient">One of three columns</div>
                <div class="col-md bg-light text-danger">one of three</div>
                <div class="col-lg p-3 bg-gradient text-bg-success">one of three</div> 
            </div>
        </div> <!--end grid-->
        
        <!-- button to put up an alert-->
        <button class="btn btn-success" data-toggle="collapse" data-target="#collapseAlert" aria-expanded="false" aria-controls="collapseAlert">Click Me!</button>

        <div class="collapse" id="collapseAlert">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>You toggled this alert</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        </div>
        

        <!-- create a card inside of a flexbox with center justification-->
        <div class="container d-flex justify-content-center">

            <div class="card mt-4 mb-4" style="width: 25%;">
                <img src="/assets/images/download.jpg" class="card-img-top" alt="image of a programmer">
                <div class="card-body bg-dark bg-gradient border-2 border-info text-light">
                    <div class="card-title">Programmers are:</div>
                    <p class="card-text">... very lacking in posture skills. Though great at the eye doctor!</p>
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseProgrammer" aria-expanded="false" aria-controls="collapseAlert">Read More!</button>
                </div>
            </div>

        </div>
        
    </div>
    <!-- add an "article" that the card displays wehn clicked-->
    <div class="collapse wrapper border border-2 border-primary py-2 mx-0 bg-dark bg-gradient" id="collapseProgrammer">

        <div class="container container d-flex justify-content-center">
            <div id="text-stuff" class="bg-dark border border-3 border-light border-opacity-25 px-2" style="height:15rem;">
            
                <p class="pt-3 text-light text-opacity-75">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nam accusamus quidem quae explicabo? Eum obcaecati, dolore repudiandae cupiditate sit maxime quae reiciendis voluptates assumenda, vel similique! Aut temporibus nobis, ab amet beatae accusamus eos totam neque repellat debitis nostrum illo quasi corporis voluptates autem adipisci delectus corrupti. Eos rerum beatae, autem exercitationem culpa vel reiciendis eaque magni, eligendi, commodi cupiditate dolor qui aut sint? Laborum perspiciatis quaerat atque quas nemo porro consequuntur reprehenderit sit quibusdam eos a, sint impedit id debitis quae consequatur distinctio commodi quidem odio quos exercitationem non labore. Recusandae mollitia ex inventore eveniet minus placeat at voluptas corporis modi quia obcaecati pariatur numquam eius quaerat, architecto quasi autem, expedita magnam sint! Unde eveniet repudiandae, id omnis ipsa quia voluptates, iure placeat pariatur velit illum facere vero similique provident ducimus aperiam eligendi repellendus suscipit. At velit saepe repudiandae nostrum esse, qui alias sapiente delectus impedit atque sit eligendi, tempore minus architecto ad quidem distinctio vitae. Suscipit quos reprehenderit delectus nihil vero inventore debitis, dolor cum porro alias ex autem neque incidunt architecto, eligendi in et tempora. Sunt delectus minima expedita molestiae accusantium vitae doloremque modi facere vero repellendus cum exercitationem eveniet voluptatibus numquam porro iste, neque sint labore necessitatibus eos dignissimos. Fuga qui sit, atque reprehenderit adipisci suscipit, explicabo quas nulla quibusdam perferendis totam rerum magni minima voluptates et nemo ratione eos. Consequatur eum rem provident, accusantium, iusto magnam pariatur facere velit aspernatur modi saepe quia? Minus fugiat commodi corrupti, id, ullam expedita accusantium temporibus dolor eaque alias iusto soluta officia illo! Ratione facere, mollitia modi nisi iure eius quae non doloremque corporis rem nostrum recusandae autem nesciunt temporibus accusantium necessitatibus suscipit aut cumque repudiandae delectus. Beatae doloribus blanditiis vitae nam neque assumenda repellendus sint quasi adipisci, eos saepe, libero labore a! Nihil assumenda praesentium accusamus libero!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est iure eligendi repudiandae, autem ullam a dolorum, dignissimos deleniti molestias vitae in reiciendis quae cumque quas aspernatur excepturi beatae odio voluptatum.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, asperiores error similique repellat provident quod exercitationem quae cupiditate id, natus, voluptate magni rem corrupti vitae dolore hic odio pariatur impedit?
                </p>

                <p class="pt-3 text-info text-opacity-75 ">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quo aspernatur recusandae voluptatibus asperiores aliquam est necessitatibus neque quos nisi?
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, ipsum. Aut vero error quia eum sequi vel placeat rerum aliquam earum qui. Aliquid nostrum laboriosam voluptas, eos nulla mollitia cum repellendus, exercitationem temporibus molestias itaque pariatur voluptate magnam odit, laborum voluptatibus sequi eaque cupiditate fugit alias debitis distinctio veniam esse! Amet repellat dicta hic. A delectus veniam animi velit quidem eos porro. Repudiandae magni cum quia deserunt officiis vero nemo! Voluptatem, voluptate! Provident, beatae vel! Quidem odit dicta, ipsam mollitia, odio alias fuga earum accusantium reiciendis debitis labore vel illo doloribus facilis porro sapiente perspiciatis error! Reprehenderit magni aspernatur at corrupti magnam ipsa fuga dolorem consequatur. Cum in enim non, explicabo rem hic, ut, dicta iure perferendis recusandae sit iusto praesentium quia est maiores illo pariatur. Fugit reiciendis facilis, consequuntur incidunt deleniti alias quasi praesentium blanditiis magnam voluptatem culpa odio natus molestiae facere iusto nam debitis quis voluptatum doloribus eveniet velit cum? Quae totam voluptatum similique adipisci ex animi ullam, dicta placeat amet expedita maxime beatae repudiandae omnis. Molestiae saepe tempore officia sequi incidunt soluta, ipsam nihil sunt dolore, impedit, nesciunt odit ut ducimus. Optio ratione fugiat provident placeat vero? Voluptas aliquid ut quasi, ipsa quam nesciunt odio laboriosam dignissimos natus eius officia! Aspernatur rem dolore laudantium! Tenetur, dolore iusto. Sit rem temporibus delectus aliquid ratione molestias obcaecati accusamus alias animi neque, deserunt magnam earum praesentium corporis ea ut consequatur doloribus consequuntur cumque! Quaerat nesciunt eligendi cum iure minima tempore corrupti, vel sint, consequuntur officia, voluptates maxime expedita temporibus culpa? Magni, quidem eaque modi voluptate dignissimos esse iure similique. At quis, placeat cupiditate delectus, sequi blanditiis perferendis ea impedit cum nihil commodi suscipit tempora dolores nemo omnis dicta asperiores laudantium alias quo tenetur. Et ad debitis consequatur temporibus earum reprehenderit soluta assumenda nihil! Ipsa molestias tenetur cupiditate iste obcaecati quod?
                </p>
            </div>
        </div>
    </div>


    <!-- create a toast-->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="30000">
        <div class="toast-header">
            <strong class="me-auto">Hello!</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dissmiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hi this is a toast... to you!
        </div>
    </div>


<!-- include socket.io script-->
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

    <!-- include bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <!-- initialize toasts for use on the page-->
    <script >
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
        })
    </script>
</body>

</html>