<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="icon" type="image/x-icon" href="/images/cloudy-sky.jpg"
    <!-- link my stylesheet-->
    <link href="/stylesheets/myStyle.css" rel="stylesheet">

    <!-- link the npm installed bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body class="bg-dark">
    <!-- slightly parallax scrolling background image wrapping the whole background of the page content-->
    <section class="wrapper">

        <!-- page nav bar-->
        <nav class="navbar navbar-expand navbar-dark bg-gray sticky-top">

            <div class="container-fluid">
    
                <a class="navbar-brand" href="#">Praise Adonai!</a>
    
                <div class="collapse navbar-collapse" id="navbarContent">
    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item border-bottom-only border-hover">
                            <a class="nav-link active" href="/" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item border-bottom-only border-hover">
                            <a class="nav-link" href="/bible" aria-current="page">Bible</a>
                        </li>
                        <li class="nav-item border-bottom-only border-hover">
                            <a class="nav-link" href="/music">Music</a>
                        </li>
    
                        <li class="nav-item border-bottom-only border-hover">
                            <a class="nav-link" href="/faith">Faith</a>
                        </li>
                    </ul>
                </div>
    
            </div>
    
        </nav>

    <!-- parallax stuff-->
        <header>

            <img src="/images/cloudy-sky.jpg" class="background" id="background-image" alt="pretty sky background">
            <!-- message of the day-->
            <div class="container foreground px-5 d-flex justify-content-center">
                <h1 class="text-dark-50 px-5 border-bottom-only border-hover mx-5 text-center">
                    Message of the day: 
                    <% if (locals.motd) { %>
                        <%= locals.motd %> 
                    <% } else { %>            
                        Welcome to <i>your</i> home page!
                    <% } %>
                </h1>
            </div>

            <!-- page greeting / header-->
            <div class="bg-dark foreground2">
                <h1 class="text-light m-3"><%= locals.header %></h1>
            </div>

            <div class="pt-3 container foreground3 d-flex justify-content-center flex-column">
                <p class="text-white">
                    This is a small resource for anyone to come and learn, praise, or learn to praise.
                    <br>
                    The goal is to share some light, encouragment, and truth.
                    <br>
                    and the many hopes are for believes and non-believers to find something good!
                </p>

                <p class="mt-5 text-white border-bottom-only border-hover">
                    "Truly I tell you, if you have faith as small as a mustard seed, you can say to this mountain, <i>'Move from here to there,' and it will move.</i> Nothing will be impossible for you”
                    <br>
                    <strong>- Matthew 17:20</strong>
                </p>
            </div>

        </header>

        <!-- page content-->
        <div class="mt-5 container">

            <!-- card container-->
            <div class="container d-flex gap-3">
                
                <!-- bible card-->
                <div class="card card-width">
                    <img src="/images/rod-long-unsplash.jpg" class="card-img-top card-img" alt="bible">
                    <div class="card-body bg-gray text-white-50">
                        <div class="card-title text-black-50"> <strong>Search scripture!</strong></div>
                        <div class="card-text mb-2"> Search through the bible and recieve a random quote each session</div>
                        <a class="btn btn-success" href="/bible">See bible verses!</a>
                    </div>
                </div>

                <!-- music card-->
                <div class="card card-width bg-body">
                    <img src="/images/cloudy-sky.jpg" class="card-img-top card-img">
                    <div class="card-body bg-gray text-white-50">
                        <div class="card-title text-black-50"> <strong>Find songs!</strong></div>
                        <div class="card-text mb-2"> Search through a messianic and christian playlist on spotify
                        </div>
                        <a class="btn btn-success" href="/music">Find songs!</a>
                    </div>
                </div>

                <!-- faith card-->
                <div class="card card-width bg-body">
                    <img src="/images/adonai.jpg" class="card-img-top card-img">
                    <div class="card-body bg-gray bg-gradient text-white-50">
                        <div class="card-title text-black-50"> <strong>Learn more!</strong></div>
                        <div class="card-text mb-2"> Learn about The Faith, The Messiah, and what it all means for you</div>
                        <a class="btn btn-success w-75" href="/faith">Find Jesus!</a>
                    </div>
                </div>

            </div>  <!-- end card container-->

        </div> <!-- end content container-->

    </section> <!-- end wrapper-->


    <!-- use the bootstrap script installed by npm-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>